html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.download-button {
    margin: auto;
    text-align: center;
}

.italic { font-style: italic; }

.author {
    text-align: right;
    line-height: normal;
}
.author .name, .author .email, .author .date {
    margin: 0;
    padding: 0;
}

.card {
    margin: 24px;
    padding: 16px;
    border-radius: 20px;
    box-shadow: 8px 8px 10px #c2cceb;

}

.card-title {
    display: flex;
    justify-content: space-between;
}

.card-title button {
    border-radius: 50px;
}

.images {
    display: flex;
    justify-content: space-evenly;
}

.images img {
    width: 80%;
    border-radius: 20px;
    box-shadow: 4px 4px 10px #999;
}

.images div {
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .images {
        display: block;
    }

    .images img {
        width: 100%;
    }
}

#content-screens {
    padding: 0 16px 16px 0;
}